{% extends "base.html" %}

{% block body %}

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br>
        <p>Notre organisation et ses partenaires stockent et/ou accèdent à des informations sur votre appareil, telles
          que les identifiants uniques de cookies pour traiter les données personnelles. Nous procédons ainsi pour
          fournir un contenu personnalisé. Vous pouvez accepter ou gérer vos préférences en cliquant sur Afficher les
          finalités ou à tout moment sur la page de la politique de confidentialité. Vos préférences renseignées sur ce
          site sont signalées à nos partenaires.
          <br>
          Politique Cookies : Nous utilisons des cookies et technologies similaires
          tiers ou non pour prévenir les risques de fraude.
          Utiliser des données de géolocalisation précises. Analyser activement les caractéristiques du terminal pour
          l’identification. Stocker et/ou accéder à des informations sur un terminal. Publicités et contenu
          personnalisés, mesure de performance des publicités et du contenu, données d’audience et développement de
          produit.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}