{% extends "base.html" %}
{% block title %}Produit{% endblock %}
{% block body %}
<div class="content-wrapper single-article mt-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-xs-12 col-sm-12">
        <h1>Contacter {{article.username}}</h1>
        <form action="ContactController.php" method="post">
          <input type="hidden" name="emailTo" value="videgrenierenlignecontact@gmail.com" />
          <input type="text" name="nom" placeholder="Nom" /><br /><br />
          <input type="email" name="emailFrom" placeholder="Email" /><br /><br />
          <textarea class="textareaContact" name="message" placeholder="Message"></textarea><br /><br />
          <input class="u-btn" type="submit" value="Envoyer" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
